<html>
        <head><title>Index Page</title></head>
        <body>
            <h1>Welcome to mysite.com</h1>
            <p><a href=''>Index</a> | <a href='/about'>About Us</a> |<a href='/services'>Services</a> | <a href='/contact'>Contact Us</a></p>
        </body>
</html>;