<html>
        <head><title>Our Services</title></head>
        <body>
            <h1>Our Services</h1>
            <p>Building Global IT Professionals since 2008<br/>
            AN ISO 9001:2015 CERTIFIED IT LEARNING CENTER<br/>
            Broadway Infosys Nepal is one of the best inclusive computer training institutes in Kathmandu, Nepal. Established in 2008, our professional IT Training and Development center has been employing experts in this field to impart professional education.</p>
            <p><a href='/'>Index</a> | <a href='/about'>About Us</a> |<a href=''>Services</a> | <a href='/contact'>Contact Us</a></p>
            </body>
    </html>