<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Result</title>
</head>
<body>
    <% if(result.status === true){ %>
        <p>USER : <%= result.user %></p>
        <p>PASS : <%= result.pass %></p>
        <p>SAVE : YES</p>
    <% } else { %>
        <p>USER : <%= result.user %></p>
        <p>PASS : <%= result.pass %></p>
        <p>SAVE : NO</p>
    <% } %>
</body>
</html>