<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title>New Person Entry Form </title>
</head>
<body>
    <h2>New Person Entry Form </h2>
    <form action="/save" method="get">
        <p>Name: <input type="text" name="txtname">  </p>
        <p>Address: <input type="text" name="txtAddress">  </p>
=======
    <title>New Person Entry Form</title>
</head>
<body>
    <h2>New Person Entry Form</h2>
    <form action="/save" method="get">
        <p>NAME : <input type="text" name="txtName"></p>
        <p>ADDRESS : <input type="text" name="txtAddress"></p>
>>>>>>> 0cac7901f3da025ddfde347bc2905bb3f33a13a3
        <p><input type="submit" value="SAVE"></p>
    </form>
</body>
</html>