<html>
    <head>
        <title>MyProfile Page</title>
    </head>
    <body>
        <h1>Welcome to My Profile Page</h1>
        <h3>NAME : <%=user.fullname %> </h3>
        <h3>ADDRESS : <%=user.caddress %> </h3>
    </body>
</html>