<html>
    <head><title>web forms</title></head>
    <body>
        <h1>form-1</h1>
        <form method="get" action="/getform1">
             Number1: <input type="text" id="txt1" name="txt1"><br/>  <!-- provide name to form sending   
                provide id to control from program like js css-->
            Number2: <input type="text" id="txt2" name="txt2"><br/>     
            <input type="submit" value="SEND">
        </form>
        <h1>form-2</h1>
        <form method="post" action="/getform2">
            Number1: <input type="text" id="txt1" name="txt1"><br/>
            Number2: <input type="text" id="txt2" name="txt2"><br/>
            <input type="submit" value="SEND">
        </form>
    </body>
</html>