<html>
    <head><title>web forms</title></head>
    <body>
        <h1>form-1</h1>
        <form method="get" action="/getform1">
            Number1: <input type="text" id="txt1"><br/>
            <input type="submit" value="SEND">
        </form>
        <h1>form-2</h1>
        <form method="post" action="/getform2">
            Number1: <input type="text" id="txt1"><br/>
            <input type="submit" value="SEND">
        </form>
    </body>
</html>