<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Person Entry Form</title>
</head>
<body>
    <h2>New Person Entry Form</h2>
    <form action="/save">
        <p>ID : <input type="text" name="txtID"></p>
        <p>NAME : <input type="text" name="txtName"></p>
        <p>ADDRESS : <input type="text" name="txtAddress"></p>
        <p><input type="submit"></p>
    </form>
</body>
</html>