    <html>
    <head>
         <title> paymenr..
        </title>
    </head>
        <body>
        <h1> Payment page </h1>
        <h2> payments options are:  </h2>
        <ul>
        <li>Esewa </li>
        <li> khalti </li>
        </ul>

        <p>  <a href ="/about"> About </a>| <a href ="/service"> Service </a> | <a href ="/contact"> Contact </a>| <a href =""> Payment </a> </p>
        <p><a href = "/">Back to home safely </a></p> 
        </body>
</html>