    <html>
    <head>
         <title> About ..
        </title>
    </head>
        <body>
        <h1> About us  </h1>
        <h2> this is the about us section where we show opur company profile </h2>

        <p>  <a href =" "> About </a>| <a href ="/service"> Service </a> | <a href ="/contact"> Contact </a>| <a href ="/payment"> Payment </a> </p>
        <p><a href = "/">Back to home safely </a></p> 
        </body>
</html>