<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><a href='/create1'>Create Session-1</a> | <a href='/create2'>Create Session-2</a> | <a href='/display1'>Display Session-1</a> | <a href='/display2'>Display Session-2</a> | <a href='/displayall'>Display All Sessions</a> | <a href='/destroy'>Remove All Sessions</a></p>    
</body>
</html>
